<% content_for :title do %>
<%= @post.title %> -- 
<% end %>

<h1><%= @post.title %></h1>

<P>
	<g:plusone></g:plusone>
	<% if user_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
</p>


<div><%= raw @post.content %></div>

<br />
<br />
<br />
<!-- JiaThis Button BEGIN -->
<div id="ckepop">
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_icons_1"></a>
	<a class="jiathis_button_icons_2"></a>
	<a class="jiathis_button_icons_3"></a>
	<a class="jiathis_button_icons_4"></a>
	<a href="http://www.jiathis.com/share?uid=1533124" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1533124" charset="utf-8"></script>
<!-- JiaThis Button END -->

<br />
<ul class="post_prev_next">
	<% if @prev_post %>
	<li><span>上一篇:&nbsp;</span> <%= link_to @prev_post.title, @prev_post %></li>
	<% end %>
	<% if @next_post %>
	<li><span>下一篇:&nbsp;</span> <%= link_to @next_post.title, @next_post %></li>
	<% end %>
</ul>

<br/><br/>


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'cozblog'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<% content_for :sidebar do %>
  <h2>Tags</h2>
    <ul>
      <% @post.tags.each do |tag| %>
      <li><%= link_to tag.name, tags_path(:tag => tag.name)%></li>
     <% end %>
    </ul>
  
    <p>Last updated: <%= @post.updated_at.strftime("%B %d, %Y at %H:%S") %></p> 
<% end %>